@import "tailwindcss";
/* =========================
   Theme
========================= */

@theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    --color-background: var(--background);
    --color-surface: var(--surface);
    --color-card: var(--card);

    --color-text: var(--text);
    --color-muted: var(--muted);

    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-danger: var(--danger);
}
:root {
    --primary: hsl(204, 53%, 15%);
    --secondary: hsl(205, 43%, 20%);

    --background: hsl(40, 94%, 82%);
    --surface: hsl(38, 66%, 94%);
    --card: hsl(39, 100%, 97%);

    --text: hsl(204, 53%, 15%);
    --muted: hsl(205, 43%, 20%);

    --success: hsl(138, 73%, 41%);
    --warning: hsl(59, 55%, 54%);
    --danger: hsl(9 21% 41%);
}
.dark {
    --primary: hsl(204, 53%, 15%);
    --secondary: hsl(205, 43%, 20%);

    --background: hsl(203, 49%, 8%);
    --surface: hsl(206, 59%, 8%);
    --card: hsl(204, 53%, 15%);

    --text: hsl(40, 94%, 82%);
    --muted: hsl(40, 24%, 60%);
}

/* :root {
    --primary: hsl(351, 59%, 17%);
    --secondary: hsl(351, 59%, 17%);

    --background: hsl(81, 52%, 56%);
    --surface: hsl(82, 59%, 74%);
    --card: hsl(83, 57%, 86%);

    --text: hsl(351, 59%, 17%);
    --muted: hsl(351, 59%, 17%);

    --success: hsl(138, 73%, 41%);
    --warning: hsl(59, 55%, 54%);
    --danger: hsl(9 21% 41%);
}
.dark {
    --primary: hsl(351, 59%, 17%);
    --secondary: hsl(351, 59%, 17%);

    --background: hsl(80, 42%, 14%);
    --surface: hsl(80, 38%, 19%);
    --background: hsl(80, 38%, 19%);

    --text: hsl(40, 94%, 82%);
    --muted: hsl(40, 24%, 60%);
} */

/* =========================
   Reset
========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* * {
  margin: 0;
  padding: 0;
} */

html {
    scroll-behavior: smooth;
}

/* =========================
   Body
========================= */

body {
    min-height: 100vh;

    font-family: Inter, system-ui, sans-serif;

    color: var(--color-text);

    background: var(--color-background);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* =========================
   Root
========================= */

#root {
    min-height: 100vh;
}

/* =========================
   Typography
========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text);
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input,
textarea,
button {
    font: inherit;
}
